:root {
    --text-color: #1A2740;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
}

body {
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}

.glassmorphism {
    margin: 5%;
    background: rgba(130, 130, 130, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: appear-pop 0.5s 1 0.5s forwards;
    opacity: 0;
}

.header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.header__logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.header__logo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.header__logo strong {
    color: #626060;
}

.header__nav {
    display: flex;
    gap: 1rem;
}

.header__nav__item {
    font-size: 1.1rem;
    position: relative;
    color: #fff;
}

.header__nav__item::after {
    content: "";
    background-color: #fff;
    height: 0.1rem;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header__nav__item:hover::after {
    width: 100%;
    transition: 0.5s;
}

.footer {
    background-color: var(--bg-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
}

.footer p {
    color: #fff;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
    background-color: #9AB8BA;
}

::-webkit-scrollbar {
    width: 10px;
    background: #9AB8BA;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color);
}

.error-message {
    color: red;
    font-size: 0.7rem;
}

@media (min-width: 1000px) {
    :root {
        font-size: 150%;
    }

}
@media (min-width: 1500px) {
    :root {
        font-size: 170%;
    }

}
@media (min-width: 2000px) {
    :root {
        font-size: 200%;
    }

}
@media (min-width: 2500px) {
    :root {
        font-size: 250%;
    }

}

@keyframes appear-pop {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 100%;
        transform: scale(1.1);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}